h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(90, 118, 197);
    font-size: 40;
}

.titre {
    font-size: 30px;
    color: rgb(0 0 0);
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0;
}

body {
    background-image: url("images/palmier.jpg");
    background-size: cover;
    text-align: center;
}

.card {
    top: 0; left: 0; right: 0; bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 15px;;
}

#card-opacity {
    padding: 20px;
}


#me {
    width: 150px;
    border-radius: 50%;
}

li{
    text-align: left;
    margin-left: 100px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.espace{
    text-align: left;
    margin-left: 100px;
    margin-right: 40px;
    margin-bottom: 20px;
}

#black {
    color: black;
}

#black:hover {
    color: grey;
}

a{
    color:rgb(3, 0, 165);
}


a:hover {
    color:rgb(90, 118, 197);
}

.container {
    margin: 120px;
  }
/* 
.lien {
  font-family: 'Times New Roman', Times, serif ;
  font-size: 20px;
  color:rgb(224, 230, 195);
  text-decoration: none;
  background-color: rgb(0, 81, 151);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 570px) {
    .lien {
        font-size: 17px;
        padding: 7px;
    }
}

@media (max-width: 530px) {
    .lien {
        font-size: 14px;
        padding: 5px;
    }
}

.lien:hover {
  background-color: rgb(55, 107, 141);
}
*/


